.item {
  max-width: 280px;
  border: 0.5px solid rgba(160, 160, 160, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: rgba(52, 48, 48, 1);
  }
}
.item.sold {
  opacity: 0.7;
}

.item_title_box {
  padding: 20px 0;
  color: #343030;
}

.price {
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  .old_price {
    color: rgba(160, 160, 160, 1);
    text-decoration: line-through;
    font-size: 14px;
  }
  .current_price {
    color: #343030;
    font-size: 16px;
  }
}
.price.sold {
  font-size: 16px;
  font-weight: 700;
  color: rgba(52, 48, 48, 1);
}
